@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Quote</h1>
    <p>The place where you can view popular quotes and upload your own ones.</p>
</div>
